<article class="page-container" id="content-main">
    <% if (page.title && page.title.length > 0) { %>
        <h1><%- page.title %></h1>
        <hr>
    <% } %>
    <div class="page-body">
        <%- page.content %>
    </div>

    <% if (theme.gitalk && theme.gitalk.enable) { %>
      <div id="gitalk-container-placeholder" class="gitalk-placeholder">
          <div class="progress-indicator segmented" aria-hidden="true">
              <span class="progress-indicator-bar" style="width: 40%;"></span>
          </div>
          <p class="gitalk-placeholder-text">Gitalk 加载中...</p>
      </div>
    <% } %>
</article>
